main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    padding-bottom: 4rem;
}

.top-actions{
    width: 100%;
    height: 5vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.back{
    padding-left: 4rem;
}

.actions{
    padding-right: 4rem;
    display: flex;
    gap: 1rem;
}

.btn-back{
    width: 8rem;
    height: fit-content;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-size: medium;
}

.btn-back:hover{
    background-color: #3c3c3c;
}

.btn-update{
    width: 3rem;
    height: 3rem;
    background-color: darkorange;
    color: #ffffff;
    cursor: pointer;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    font-family: 'Rajdhani', sans-serif;
    font-size: medium;
}

.btn-update:hover{
    background-color: rgb(209, 115, 0);
}

.btn-delete{
    width: 3rem;
    height: 3rem;
    background-color: darkred;
    color: #ffffff;
    cursor: pointer;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    font-family: 'Rajdhani', sans-serif;
    font-size: medium;
}

.btn-delete:hover{
    background-color: rgb(97, 0, 0);
}

.top-background{
    width: 100%;
    height: 30vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: 600;

}

.article-image{
    width: 60rem;
    height: 30rem;
    border-radius: 10px;
    overflow-y: visible;
    margin-top: -4rem;
}

.created-at{
    color: darkorange;
    margin-left: 4rem;
    margin-top: 1rem;
    width: 60%;
}

.article-date{
    color: #000000;
}

.article-text{
    margin-top: 2rem;
    white-space: pre-line;
    width: 50%;
}
