body{
    overflow-x: hidden;

}

header{
    width: 100%;
    background-color: #ffffff;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #d4d4d4;
}

.logo{
    width: 20rem;
    height: 7rem;
}

.header-first{
    padding-left: 4rem;
    margin-bottom: 2px;
}

.header-second ul{
    display: flex;
    font-size: x-large;
    font-family: 'Rajdhani', sans-serif;
    width: fit-content;
    padding-right: 4rem;
    gap: 2rem;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #000000;
}

li a:hover{
    text-decoration: underline;
    color: black;
}

main{
   min-height: calc(100vh - 7rem);
}

footer{
    width: 100%;
    background-color: #ffffff;
    height: 16rem;
    border-top: 1px solid #3c3c3c;
    display: flex;
    justify-content: space-evenly;
}

.footer-first{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    padding-left: 1rem;
}

.footer-second{
    width: 30%;
    height: auto;
    background-color: whitesmoke;
    font-family: 'Rajdhani', sans-serif;
    color: #000000;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
}

.footer-second li a{
    color: dimgrey;
}

.footer-second ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-logo{
    height: 90%;
}

.footer-third{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    font-family: 'Rajdhani', sans-serif;
    color: #000000;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.footer-third p{
    width: fit-content;
    padding: 2rem;
}

.input-email-newsletter{
    padding: 12px;
    font-size: medium;
    border-radius: 40px;
    border: 1px solid #d4d4d4;
}

.btn-subscribe-newsletter{
    width: 10rem;
    height: fit-content;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d4d4;
    border-radius: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
}

.btn-subscribe-newsletter:hover{
    background-color: #3c3c3c;
    color: #ffffff;
}

h1{
    font-size: 90px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 18px;
}

input{
    font-family: 'Rajdhani', sans-serif;
}