.hero-section{
    position: relative;
}

.hero-image{
    width: 100%;
    height: 50vh;
    background-image: url("/static/images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.hero-dark{
    position: absolute;
    inset: 0px;
    opacity: 0.5;
    background-color: #000000;
}

.hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
}


.hero-content h2{
    margin-top: 2rem;
}

#blog{
    padding-top: 4rem;
    margin-top: -4rem;
}

.create-article{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4rem;
}

.btn-create-article{
    width: 10rem;
    height: 4rem;
    background-color: transparent;
    color: #000000;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d4d4;
    border-radius: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
}

.btn-create-article:hover{
    background-color: #000000;
    color: #ffffff;
}

.plus-sign{
    font-size: xx-large;
    margin-left: 6px;
    margin-top: 2px;
    font-weight: 300;
}

.create-article a{
    text-decoration: none;
}

.articles{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    width: 100%;

    height: fit-content;
    width: fit-content;
}

@media (min-width: 640px){
    .articles{
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width: 1024px){
    .articles{
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width: 1280px){
    .articles{
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
}

@media (min-width: 1536px){
    .articles{
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
}

.articles a{
    text-decoration: none;
    color: #000000;
}

.articles-title{
    font-size: xx-large;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}


.no-articles{
    font-size: x-large;
    margin-top: 2rem;  
    font-family: 'Rajdhani', sans-serif;
  }

.recent-articles, .all-articles{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.article{
    height: fit-content;
    font-family: 'Rajdhani', sans-serif;
    height: 25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
}

.article-image{
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 60%;
    border-radius: 18px 18px 0 0;
}

.article-title{
    font-size: x-large;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}

.article-content{
    font-size: large;
    height: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.article-date{
    height: fit-content;
    margin-top: 2rem;
    text-align: end;
    font-size: medium;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: grey;
}

.pagination{
    text-align: center;
    padding-bottom: 2rem;
}

.btn-current-page{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.btn-page{
    background-color: transparent;
    color: #000000;
    padding: 10px;
    border: 1px solid #000000;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.btn-page:hover{
    background-color: #6c6c6c;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}