.hero-section{
    position: relative;
}

.hero-image{
    width: 100%;
    height: 20vh;
    background-image: url("/static/uploaded_images/nature3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.hero-dark{
    position: absolute;
    inset: 0px;
    opacity: 0.5;
    background-color: #000000;
}

.hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
}

.update-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-form {
    height: 100%;
    padding: 6rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-title-label{
    font-size: x-large;
}

.form-title-input{
    padding: 12px;
    font-size: medium;
    border-radius: 10px;
    margin-top: 1rem;
    border: 1px solid #d4d4d4;
}

.form-content-label{
    font-size: x-large;
}

.form-content-input{
    padding: 12px;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    width: 50vw;
    height: 20vh;
    margin-top: 1rem;
}

.form-image-label{
    font-size: x-large;
}

.form-image-input{
    margin-top: 1rem;
}

.form-image-input::file-selector-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.form-image-input::file-selector-button:hover {
    background-color: #3c3c3c;
    color: #ffffff;

}

.form-image-input {
    margin-left: 10px;
}

.form-submit{
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 2rem;
    font-size: larger;
    width: fit-content;
    height: fit-content;
}

.form-submit:hover {
    background-color: #3c3c3c;
    color: #ffffff;
}

.submit-p{
    width: 100%;
    display: flex;
    justify-content: center;
}