{% extends 'base.html' %}

{% block head %}
<title>About | Yp's Life Blog</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}

{% block main %}
<section class="about">
    <img class="about-image" src="{{ url_for('static', filename='images/Me2.jpg') }}" alt="Image of myself">
    <div class="about-article">
        <h2 class="about-article-title">Hello, I'm João Yp</h2>
        <h3 class="about-article-subtitle">and I'm a Software Developer from Portugal</h3>
        <div class="about-article-content">
            <p>I grew up side by side with technology that made me develop a big passion for it. I have always been a <i>techy</i> person, so in order to continue my journey, I got into a vocational course - Programming and Management of Computer Systems.</p>
            <p>That course went so well and it was such an enjoying experience, that made me apply for a college degree in Computer Science and Engineering </p>
            <p>Since then, I have never stood still, doing personal projects for both growing in knowledge by adventuring into new technologies and building my portfolio.</p>
        </div>
        <div class="about-contact">
            <a href="/contacts">
                <button class="btn-about-contact">
                    Contact Me
                </button>
            </a>
        </div>
        <div class="about-social">
            <a href="https://github.com/joaoyp" target="_blank"><div class="fa fa-github" style="font-size:36px; color: black;"></div></a>
            <a href="https://www.linkedin.com/in/joao-yp/" target="_blank"><div class="fa fa-linkedin" style="font-size:36px; color: black;"></div></a>
        </div>
    </div>
</section>
{% endblock %}