<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>20231114_Assessment_Joao_Yp</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="first-section">
            <h1>Yp's Blog</h1>
        </div>
        <nav class="second-section">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer></footer>
</body>
</html>