{% extends 'base.html' %}

{% block head %}
<title>Sign In | Yp's Life Blog</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
{% endblock %}


{% block main %}
<form class="sign-in-form" action="/signin" method="POST">
    {{ form.csrf_token }}
    <p>{{form.username.label(class="form-username-label")}} <br> {{form.username(class="form-username-input")}}</p>
    <p>{{form.password.label(class="form-password-label")}} <br> {{form.password(class="form-password-input")}}</p>
    <p class="submit-p">{{form.submit(class="form-submit")}}</p>
  </form>
<a href="{{url_for('auth.signUp')}}"><button>Sign Up</button></a>
{% endblock %}